<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">

      <div class="row">

        {{ content }}

        <hr>

      </div>

      <div class="row">
        {% for post in site.posts %}
          {% assign date_parts = post.name | split: '-' %}
          {% assign year = date_parts[0] %}
          {% assign month = date_parts[1] %}
          {% assign day = date_parts[2] | split: '.' | first %} {# Remove file extension if present #}
          
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>, {{ day }} {{ month_names[month | plus: 0] }} {{ year }}<br>
        {% endfor %}
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
