<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">

      <div class="row" style="margin-top: 10%">

        <div class="row" style="text-align:right; margin-bottom:3%;">
          <small>{{ page.date | date_to_string }}</small>
        </div>

        <div class="row" style="margin-bottom:3%;">
          <h5>{{ page.title }}</h5>
        </div>

        {{ content }}

      </div>

      <hr>

      <div class="row" style="text-align:center; margin-top: 10%; margin-bottom: 10%">

        <a href="/about">Volver</a>

      </div>

    </div>
  </body>

</html>
